<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/51aa739e-2043-4b02-a398-24e03c7f757d/resourcegroups/jToDoListResourceGroup/providers/Microsoft.Web/sites/jToDoList</ResourceId>
    <ResourceGroup>jToDoListResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jtodolist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jtodolist.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jToDoList</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jToDoList</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ToDoListDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:jtodolistdbserver.database.windows.net,1433;Initial Catalog=jToDoList_db;User ID=jakubjakk@jtodolistdbserver;Password=2ysscs55T" Name="Data Source=tcp:jtodolistdbserver.database.windows.net,1433;Initial Catalog=jToDoList_db;User Id=jakubjakk@jtodolistdbserver;Password=2ysscs55T" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ajaxTest.DAL.ApplicationDbContext, ajaxTest" MigrationConfiguration="ajaxTest.Migrations.Configuration, ajaxTest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ToDoListDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jtodolistdbserver.database.windows.net,1433;Initial Catalog=jToDoList_db;User Id=jakubjakk@jtodolistdbserver;Password=2ysscs55T</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>