body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #363f46;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*///////////////*/


#d-none {
    display: none;
}

.customUl {
    padding-left: 0;
    list-style-type: none;
}


.customList {
    background-color: #f10052;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
    margin: 2px;
    display: none;
}

.customListChild {
    background-color: #fafafa;
    color: black;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    display: none;
}

.customFontABin {
    margin-top: 3px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

    .customFontABin:hover {
        color: red;
        cursor: pointer;
    }

.customFontABinTask {
    margin-top: 3px;
    margin-right: 3px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

    .customFontABinTask:hover {
        color: red;
        cursor: pointer;
    }

.customFontAPlus {
    margin: 0;
    font-size: 20px;
    color: #9933cc;
    cursor: pointer;
}

    .customFontAPlus:hover {
        color: #832daf;
        cursor: pointer;
    }

.coustomInput {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    width: 70%;
    margin: 0;
}

.customAlert {
    opacity: 0.5;
    height: 28px;
    margin: 0;
    padding: 3px;
}

.done {
    text-decoration: line-through;
    color: #ec9ef5;
}
